target
.idea/
*.iml
.classpath
.project
.settings
.DS_Store

# we don't want to push this file,
# each contributor must create its own to signal acceptance
akka-projection-jdbc/src/test/resources/container-license-acceptance.txt
akka-projection-slick/src/test/resources/container-license-acceptance.txt

