target
.idea/
*.iml
.classpath
.project
.settings
.DS_Store

# we don't want to push this file,
# each contributor must create its own to signal acceptance
akka-projection-jdbc/src/it/resources/container-license-acceptance.txt
akka-projection-slick/src/it/resources/container-license-acceptance.txt

.bsp
.metals
metals.sbt
.vscode

# attachments created by scripts/prepare-downloads.sh
akka-distributed-cluster-docs/src/main/paradox/attachments
akka-edge-docs/src/main/paradox/attachments
# needed for aggregate project, but should not be checked in
akka-projection-integration
