language: scala
sudo: true
services:
  - docker

# make comparing to origin/master work and fetch full history for correct current and previous version detection
git:
  depth: 500

before_install:
  # using jabba for custom jdk management
  - curl -sL https://raw.githubusercontent.com/shyiko/jabba/0.11.2/install.sh | bash && . ~/.jabba/jabba.sh

# default script for jobs, that do not have any specified
script:
  - jabba install ${JDK:=adopt@~1.8-0}
  - jabba use ${JDK:=adopt@~1.8-0}
  - java -version
  - sbt -jvm-opts .jvmopts-travis "$AKKA_SNAPSHOT" "$CMD"

jobs:
  include:
#    - stage: check
#      env: CMD="verifyCodeStyle"
#      name: "Code style check. Run locally with: sbt verifyCodeStyle"
#    - env: CMD="Test/compile"
#      name: "Compile all code with 2.13"
#    - env: CMD="unidoc; docs/paradox"
#      name: "Create API and reference documentation"

    - stage: test
      env:
        - CMD="akka-projection-kafka/testOnly *.KafkaToSlickIntegrationSpec -- -DtimesToRepeat=100"
      name: "Run tests with Scala 2.13 and AdoptOpenJDK 8"
    - env:
        - JDK="adopt@~1.11-0"
        - _JAVA_OPTIONS="-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICompiler"
        - CMD="test"
      name: "Run tests with Scala 2.13 and AdoptOpenJDK 11"

    - stage: whitesource
      name: WhiteSource
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt -jvm-opts .jvmopts-travis whitesourceCheckPolicies whitesourceUpdate

    - stage: publish
      env: CMD="publish"
      name: "Publish artifacts to Bintray"
    - script: openssl aes-256-cbc -K $encrypted_8fb0ea6dc959_key -iv $encrypted_8fb0ea6dc959_iv -in .travis/travis_gustav.enc -out .travis/id_rsa -d && eval "$(ssh-agent -s)" && chmod 600 .travis/id_rsa && ssh-add .travis/id_rsa && sbt -jvm-opts .jvmopts-travis docs/publishRsync
      name: "Publish API and reference documentation"


stages:
  # runs on master commits and PRs
  - name: check
    if: NOT tag =~ ^v

  # runs on master commits and PRs
  - name: test
    if: NOT tag =~ ^v

  # runs on main repo master commits and version-tagged commits
  - name: whitesource
    if: repo = akka/akka-projection AND ( ( branch = master AND type = push ) OR tag =~ ^v)

  # runs on main repo master commits and version-tagged commits
  - name: publish
    if: repo = akka/akka-projection AND ( ( branch = master AND type = push ) OR tag =~ ^v )

after_failure:
  - docker-compose logs

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

cache:
  directories:
   - $HOME/.m2
   - $HOME/.ivy2/cache
   - $HOME/.sbt/boot
   - $HOME/.sbt/launchers
   - $HOME/.cache/coursier
   - $HOME/.jabba/jdk

env:
  global:
  # Disable Ryuk resource reaper in travis jobs since we always spin up fresh VMs
  - TESTCONTAINERS_RYUK_DISABLED=true
  # Override default akka.test.timefactor
  - AKKA_TEST_TIMEFACTOR=3.0
  # encrypt with: travis encrypt --pro WHITESOURCE_PASSWORD=...
  - secure: "iQhrcq668osc4MbkP0Zxey1hs0r0GmO9c2gxK4GIzU9socEiEi4sgG+y/zhshJcgxaXtaM90vDxEv6fBFqDbSJJnJjsUvJLc2OmNYE7jciVJltjAfBQxNYLr05ayimd9aAWTbT04Kbze3UFg9Y3pSAMww8LKJpyiGroKAE/DKVb8yZezOMFzfj0MAvAe3ZBUvTIirwj3wKrjXhjtnoEvCmPNws0TSXnFkAmbpSza255wlTO7SozOExaUX9p698dVFa0PKSOZkCVGvC5wQDX81kigD20s3Bi2452rZst/wJEF7sm9OMfMWCCXJCb5/VJmBu4D8rSGyLNkM0CCbSwADPdflhFnkRTkLxXH54qVdmGbIJN/hfQaSu4K7sDDlLQWbQtzr6aDtMTb+4gXEZLX4tYo7y6Ui8SYTbzkFKbyWpPU3s2vXl4nbnnPsvvivoQByaAPNGupuOLIGHEJmqsMsfgl9CHoatNvDkBp2qITnEJ24p/rTW8sUni0WQsg9VyCBefPepKZRhmx8CM8pjLeLhKqbdAXx5eMRa3Ppzi2IpiungDBfB4rgBEzll3V98wtU7jHzgedLR3mDAw65ipuBJyXY6byeDiyUuWqoWhDIRqPxl6au5SeNakalyS50YqI00+UVJlnpGDQeKEsUndzzFTx2PWADwavV+HprG23a90="

# safelist
branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
