name: Basic checks

on:
  pull_request:
  push:
    branches:
      - main
    tags-ignore: [ v.* ]

permissions:
  contents: read

jobs:
  check-code-style:
    name: Check Code Style
    runs-on: ubuntu-23.04
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v3.3.0
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.3
        uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf

      - name: Set up JDK 11
        # https://github.com/coursier/setup-action/releases
        # v1.3.0
        uses: coursier/setup-action@70323223454ac2a9eb2de46f389b4d045cbcdea5
        with:
          jvm: temurin:1.11

      - name: Code style check and binary-compatibility check
        run: sbt "verifyCodeStyle; mimaReportBinaryIssues"

  check-code-compilation:
    name: Check Code Compilation
    runs-on: ubuntu-23.04
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v3.3.0
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.3
        uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf

      - name: Set up JDK 11
        # https://github.com/coursier/setup-action/releases
        # v1.3.0
        uses: coursier/setup-action@70323223454ac2a9eb2de46f389b4d045cbcdea5
        with:
          jvm: temurin:1.11

      - name: Compile all code with fatal warnings for Java 11, Scala 2.12, Scala 2.13 and Scala 3.1
        run: sbt "clean ; +IntegrationTest/compile"

  check-docs:
    name: Check Docs
    runs-on: ubuntu-23.04
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v3.3.0
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.3
        uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf

      - name: Set up JDK 11
        # https://github.com/coursier/setup-action/releases
        # v1.3.0
        uses: coursier/setup-action@70323223454ac2a9eb2de46f389b4d045cbcdea5
        with:
          jvm: temurin:1.11

      - name: Create all API docs for artifacts/website and all reference docs
        run: sbt "unidoc; docs/paradox; akka-distributed-cluster-docs/paradox"

  check-samples:
    name: Check Sample Projects
    runs-on: ubuntu-23.04
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v3.3.0
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.3
        uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf

      - name: Set up JDK 11
        # https://github.com/coursier/setup-action/releases
        # v1.3.0
        uses: coursier/setup-action@70323223454ac2a9eb2de46f389b4d045cbcdea5
        with:
          jvm: temurin:1.11

      - name: Gather version
        run: |-
          echo `git describe --tags | sed -e "s/v\(.*\)-\([0-9][0-9]*\).*/\\1-\\2-/"``git rev-parse HEAD | head -c8`-SNAPSHOT > ~/.version
          cat ~/.version

      - name: Publish artifacts locally
        run: |-
          sbt "publishLocal; publishM2"

      - name: Compile Scala Projection gRPC sample Shopping Cart
        run: |-
          cd samples/grpc/shopping-cart-service-scala
          sbt test -Dakka-projection.version=`cat ~/.version`

      - name: Compile Scala Projection gRPC sample Analytics
        run: |-
          cd samples/grpc/shopping-analytics-service-scala
          sbt compile -Dakka-projection.version=`cat ~/.version`

      - name: Compile Java Projection gRPC sample Shopping Cart
        run: |-
          cd samples/grpc/shopping-cart-service-java
          mvn test -nsu -Dakka-projection.version=`cat ~/.version`

      - name: Compile Java Projection gRPC sample Analytics
        run: |-
          cd samples/grpc/shopping-analytics-service-java
          mvn compile -nsu -Dakka-projection.version=`cat ~/.version`

      - name: Compile Scala Replicated Event Sourcing over gRPC sample Shopping Cart
        run: |-
          cd samples/replicated/shopping-cart-service-scala
          sbt compile -Dakka-projection.version=`cat ~/.version`

      - name: Compile Java Replicated Event Sourcing over gRPC sample Shopping Cart
        run: |-
          cd samples/replicated/shopping-cart-service-java
          mvn compile -nsu -Dakka-projection.version=`cat ~/.version`
