name: Integration Tests for R2DBC MS SQLServer

# separate job only on merge to main since SQL server tests are so unstable
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags-ignore: [ v.* ]

jobs:
  test-r2dbc-sqlserver:
    name: Run r2dbc tests with SQL Server
    runs-on: Akka-Default
    if: github.repository == 'akka/akka-projection'
    strategy:
      fail-fast: false
      matrix:
        include:
          - { jdkVersion: "1.17.0", jvmName: "temurin:1.17.0", extraOpts: '' }

    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v4.1.1
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v7.0.0
        uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433

      - name: Set up JDK ${{ matrix.jdkVersion }}
        # https://github.com/coursier/setup-action/releases
        # v1.3.4
        uses: coursier/setup-action@48280172a2c999022e42527711d6b28e4945e6f0
        with:
          jvm: ${{ matrix.jvmName }}

      - name: Start DB
        run: |-
          docker compose -f docker-files/docker-compose-sqlserver.yml up --wait
          docker exec -i sqlserver-db /opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P '<YourStrong@Passw0rd>' -d master < akka-projection-r2dbc/ddl-scripts/create_tables_sqlserver.sql

      - name: Run integration tests with with Scala and Java ${{ matrix.jdkVersion }}
        run: |-
          sbt -Dconfig.resource=application-sqlserver.conf -Dakka.warn-on-no-license-key=false akka-projection-r2dbc-integration/test
