name: Native Image checks

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4"

permissions:
  contents: read

jobs:
  test:
    name: Test Native Image
    runs-on: Akka-Default

    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v4.1.1
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v7.0.0
        uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433

      - name: Set up GraalVM 21
        # https://github.com/coursier/setup-action/releases
        # v1.3.5
        uses: coursier/setup-action@7bde40eee928896f074dbb76d22dd772eed5c65f
        with:
          jvm: graalvm-community:21.0.2

      - name: Gather version
        # some cleanup of the sbt output to get the version sbt will use when publishing below
        run: |-
          sbt --no-colors "print akka-projection-core/version" | tail -n 1 | tr -d '\n' > ~/.version
          echo [$(cat ~/.version)]
          # useful for debugging: hexdump -c ~/.version

      - name: Publish artifacts locally
        run: |-
          sbt "set ThisBuild/Compile/packageDoc/publishArtifact := false; +publishLocal; publishM2" -Dakka.no.discipline=true

      - name: "Build and test Scala Native Image"
        run: |
          cd samples/grpc/local-drone-control-scala
          sbt nativeImage -Dnative.mode=clustered -Dakka-projection.version=`cat ~/.version`
          sbt nativeImage -Dakka-projection.version=`cat ~/.version`
          target/native-image/local-drone-control &
          DRONE_CONTROL_PID=$!
          sbt "Test/runMain drones.DroneClientTestApp 127.0.0.1 8080" -Dakka-projection.version=`cat ~/.version`
          kill -9 $DRONE_CONTROL_PID

      - name: "Build and test Java Native Image"
        run: |
          cd samples/grpc/local-drone-control-java
          mvn -DskipTests=true -Pnative package -nsu -Dakka-projection.version=`cat ~/.version`
          mvn -DskipTests=true -Pnative -Pclustered package -nsu -Dakka-projection.version=`cat ~/.version`

      - name: Email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@6063705cefe50cb915fc53bb06d4049cae2953b2
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "Failed: ${{ github.workflow }} / ${{ github.job }}"
          to: ${{secrets.MAIL_SEND_TO}}
          from: Akka CI
          body: |
            Job ${{ github.job }} in workflow ${{ github.workflow }} of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}